In [4]:
import pandas as pd
import numpy as np
import os

for dirname, _, files in os.walk(r"C:\Users\Manasa\Desktop\ml\nlp_project"):
    for file in files:
        if file == 'semeval2017_train.tsv':
            tsv_file = pd.read_table(os.path.join(r"C:\Users\Manasa\Desktop\ml\nlp_project\SEMEVAL2017", file))


tsv_file

,question,answer,label
0,from dubai to qatar i am currently working her...,if you are single then its ok you can enjoy,0
1,from dubai to qatar i am currently working her...,depends on where the accommodation is how many...,1
2,from dubai to qatar i am currently working her...,if the company is from oil and gas industry or...,1
3,from dubai to qatar i am currently working her...,transport in the city is a nightmare,1
4,from dubai to qatar i am currently working her...,and life her is so relaxed that bachelors are ...,0
...,...,...,...
36193,diamond earrings or gold earrings hi guys i am...,have you not heard the statements like diamond...,1
36194,diamond earrings or gold earrings hi guys i am...,go for jewelry that is yellow gold and without...,1
36195,diamond earrings or gold earrings hi guys i am...,of course gold,1
36196,diamond earrings or gold earrings hi guys i am...,for investment both are ok if you invest like ...,1
36197,list some b grade audit firms in qatar i am a ...,www qatcom com,1

In [5]:
# converting tsv file into csv
tsv_file.to_csv('semeval_.csv',index=False)

data = pd.read_csv(r"C:\Users\Manasa\Desktop\ml\nlp_project\semeval_.csv")
data

,question,answer,label
0,from dubai to qatar i am currently working her...,if you are single then its ok you can enjoy,0
1,from dubai to qatar i am currently working her...,depends on where the accommodation is how many...,1
2,from dubai to qatar i am currently working her...,if the company is from oil and gas industry or...,1
3,from dubai to qatar i am currently working her...,transport in the city is a nightmare,1
4,from dubai to qatar i am currently working her...,and life her is so relaxed that bachelors are ...,0
...,...,...,...
36193,diamond earrings or gold earrings hi guys i am...,have you not heard the statements like diamond...,1
36194,diamond earrings or gold earrings hi guys i am...,go for jewelry that is yellow gold and without...,1
36195,diamond earrings or gold earrings hi guys i am...,of course gold,1
36196,diamond earrings or gold earrings hi guys i am...,for investment both are ok if you invest like ...,1
36197,list some b grade audit firms in qatar i am a ...,www qatcom com,1

In [7]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

stop = stopwords.words('english')
data['question'] = data['question'].apply(lambda x: [item for item in x.split() if item not in stop])
data['answer'] = data['answer'].apply(lambda x: [item for item in x.split() if item not in stop])

data

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Manasa\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

,question,answer,label
0,"[dubai, qatar, currently, working, dubai, got,...","[single, ok, enjoy]",0
1,"[dubai, qatar, currently, working, dubai, got,...","[depends, accommodation, many, people, live, k...",1
2,"[dubai, qatar, currently, working, dubai, got,...","[company, oil, gas, industry, working, industr...",1
3,"[dubai, qatar, currently, working, dubai, got,...","[transport, city, nightmare]",1
4,"[dubai, qatar, currently, working, dubai, got,...","[life, relaxed, bachelors, excluded, many, ven...",0
...,...,...,...
36193,"[diamond, earrings, gold, earrings, hi, guys, ...","[heard, statements, like, diamonds, forever, d...",1
36194,"[diamond, earrings, gold, earrings, hi, guys, ...","[go, jewelry, yellow, gold, without, gems, sto...",1
36195,"[diamond, earrings, gold, earrings, hi, guys, ...","[course, gold]",1
36196,"[diamond, earrings, gold, earrings, hi, guys, ...","[investment, ok, invest, like, gold, buy, gold...",1
36197,"[list, b, grade, audit, firms, qatar, fresh, g...","[www, qatcom, com]",1

In [30]:
len(data['question'].unique())

4877

## Model

In [24]:
!pip install -U sentence-transformers

Requirement already satisfied: sentence-transformers in c:\users\manasa\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: torchvision in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (0.14.0)
Requirement already satisfied: tqdm in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (4.62.3)
Requirement already satisfied: scikit-learn in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (0.24.2)
Requirement already satisfied: huggingface-hub>=0.4.0 in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (0.11.1)
Requirement already satisfied: nltk in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (3.6.5)
Requirement already satisfied: scipy in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (1.7.1)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (4.25.1)
Requirement already satisfied: sentencepiece in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (0.1.97)
Requirement already satisfied: torch>=1.6.0 in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (1.13.0)
Requirement already satisfied: numpy in c:\users\manasa\anaconda3\lib\site-packages (from sentence-transformers) (1.20.3)
Requirement already satisfied: pyyaml>=5.1 in c:\users\manasa\anaconda3\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: packaging>=20.9 in c:\users\manasa\anaconda3\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers) (21.0)
Requirement already satisfied: filelock in c:\users\manasa\anaconda3\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.3.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\manasa\anaconda3\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.10.0.2)
Requirement already satisfied: requests in c:\users\manasa\anaconda3\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.26.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\manasa\anaconda3\lib\site-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence-transformers) (3.0.4)
Requirement already satisfied: regex!=2019.12.17 in c:\users\manasa\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2021.8.3)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in c:\users\manasa\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.2)
Requirement already satisfied: colorama in c:\users\manasa\anaconda3\lib\site-packages (from tqdm->sentence-transformers) (0.4.4)
Requirement already satisfied: click in c:\users\manasa\anaconda3\lib\site-packages (from nltk->sentence-transformers) (8.0.3)
Requirement already satisfied: joblib in c:\users\manasa\anaconda3\lib\site-packages (from nltk->sentence-transformers) (1.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manasa\anaconda3\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manasa\anaconda3\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manasa\anaconda3\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\manasa\anaconda3\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\manasa\anaconda3\lib\site-packages (from scikit-learn->sentence-transformers) (2.2.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\manasa\anaconda3\lib\site-packages (from torchvision->sentence-transformers) (8.4.0)

In [34]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('all-MiniLM-L6-v2')
question1 = data['question'][0]
question2 = data['question'][36193]
answers = data['answer'][0]

q_embedding1 = model.encode(question1)
q_embedding2 = model.encode(question2)
a_embeddings = model.encode(answers)

print([len(q_embedding1), len(q_embedding2)])
print(len(a_embeddings))

[384, 384]

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from tensorflow.keras.optimizers import *
from tensorflow.keras.callbacks import *
from tensorflow.keras import backend as K

In [ ]:
def set_seed(seed):
    
    tf.random.set_seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    random.seed(seed)
    

def SiamesNet():
    
    set_seed(33)
    
    left_input = Input((sequence_length, len(features)))
    right_input = Input((sequence_length, len(features)))

    lstmnet = Sequential([
        BatchNormalization(),
        LSTM(128, activation='relu', return_sequences=True, 
             input_shape=(sequence_length, len(features))),
        LSTM(32, activation='relu')
    ])

    encoded_l = lstmnet(left_input)
    encoded_r = lstmnet(right_input)

    L1_layer = Lambda(lambda tensor: K.abs(tensor[0] - tensor[1]))

    L1_distance = L1_layer([encoded_l, encoded_r])
    drop = Dropout(0.2)(L1_distance)
    prediction = Dense(1,activation='sigmoid')(drop)
    model = Model(inputs=[left_input,right_input],outputs=prediction)
    
    return model